<div>
  <h1 class="center-text">
    {{ title }}
  </h1>
  <div class="filters center">
    <mat-form-field class="filter-item" appearance="standard">
      <mat-label>Country</mat-label>
      <input matInput [(ngModel)]="countryFilter" (change)="filter()" placeholder="Type then press enter">
    </mat-form-field>
    <mat-checkbox class="filter-item" [(ngModel)]="stateFilter"
                  [color]="'primary'"
                  (change)="filter()">
      State
    </mat-checkbox>
    <button class="filter-item" mat-flat-button color="accent" (click)="reset()">Reset</button>

  </div>
  <table class="center" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="CountryCode">
      <th mat-header-cell *matHeaderCellDef>Country Code</th>
      <td mat-cell *matCellDef="let element"> {{element.countryCode }} </td>
    </ng-container>

    <ng-container matColumnDef="Country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>{{element.state === true ? 'done' : 'close' }}</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
