.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

table {
  width: 50%;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-item{
  padding: 0 1%;
}
